<%- include("../../views/partials/admin/header") %>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" />
        <link rel="stylesheet" href="/admin-assets/css/productsCategory.css">
    </head>

    <body>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">
                        Edit category</h2>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <% if (typeof error !=='undefined' ) { %>
                                <div class="alert alert-danger">
                                    <%= error %>
                                </div>
                                <% } %>
                                    <form method="post" action="/admin/editCategory/<%=category._id %>"
                                        onsubmit="return handleFormSubmit(event)">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Name</label>
                                            <input type="text" name="categoryName" placeholder="Type here"
                                                class="form-control shadow" id="product_name"
                                                value="<%= category.name %>" />
                                            <div id="name-error" class="error-message"></div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            <textarea placeholder="Type here" name="description"
                                                class="form-control shadow"
                                                id="descriptionId"><%= category.description %></textarea>
                                            <div id="description-error" class="error-message"></div>
                                        </div>
                                        <div class="d-grid col-md-6">
                                            <button class="btn btn-primary shadow" type="submit">
                                                Update Category
                                            </button>
                                        </div>
                                    </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script>
            const categoryId = "<%= category._id %>";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/admin-assets/js/category/editCategory.js"></script>

        <%- include("../../views/partials/admin/footer") %>