<%-include('../partials/admin/header') -%>

<body style="background-color: darkgrey;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
        <div class="container-fluid px-5">
            <a href="/admin/admin_home" class="navbar-brand"><i class=" me-2"></i>Admin</ a>
                <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/admin/admin_home"><i class="fas fa-home me-2 ms-2"></i>Home</a>
                        </li>
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="/add_users"><i class="fas fa-user-plus me-2 ms-2"></i>Add User</a>
                        </li> -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="fas fa-sign-out me-2 ms-2"></i>Log out</a>
                        </li>
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fas fa-envelope me-2 ms-2"></i>Contact</a>
                        </li> -->
                    </ul>
                </div>
        </div>
    </nav>

    <!-- form for adding user -->

    <section class="vh-100 bg-image mt-3">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h3 class="text-uppercase text-center text-success mb-5">Edit User (<%= user.name %>)</h3>

                                <form action="/admin/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">

                                    <div class="mb-3">
                                        <label for="name">&nbsp;&nbsp;Name</label>
                                        <input type="text" name="name" id="" class="form-control form-control-lg"
                                            placeholder="Name" value="<%= user.name %>" required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="email">&nbsp;&nbsp;E-mail</label>
                                        <input type="email" name="email" id="" class="form-control form-control-lg"
                                            placeholder="Email" value="<%= user.email %>" required />
                                    </div>
                                    <!-- pattern="[0-9]{10}" -->
                                    <div class="mb-3">
                                        <label for="phone">&nbsp;&nbsp;Phone</label>
                                        <input type="tel" name="phone" id="" 
                                            class="form-control form-control-lg" value="<%= user.phone %>" placeholder="Phone" required />
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="image" class="form-label ">&nbsp;&nbsp;Select Image</label>
                                        <input type="file" name="image" id="" class="form-control form-control-lg"
                                             />
                                            <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
                                    </div>
                                    <input type="hidden" name="old_image" value="<%= user.image %>">
                                    <!-- <div class="mb-3">
                                        <label for="password">&nbsp;&nbsp;Password</label>
                                        <input type="password" name="password" id=""
                                            class="form-control form-control-lg" placeholder="Password" required />
                                    </div> -->
                                    <div class="mb-3 d-grid">
                                        <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg"
                                            required />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  -->

    <%-include('../partials/admin/footer') -%>