<%- include("../../views/partials/admin/header") %>
<link rel="stylesheet" href="/admin-assets/css/productsCategory.css">

    <body>
        <section class="content-main">
            <div class="content-header row shadow-sm">
                <header class="card-header d-flex  justify-content-between">
                    <h2 class="content-title card-title">Orders</h2>
                    <form action="/admin/users/" method="get" class="col-lg-5 me-5">
                        <!-- <div class="input-group input-group-sm border border-2 shadow rounded-pill "> <input type="text"
                                class="form-control border-0 rounded-pill bg-transparent" placeholder=" Search Users..."
                                name="search">
                            <button class="btn border border-2 border-end-0 border-top-0 border-bottom-0"
                                type="submit">Search</button> -->
                        <!-- </div> -->
                    </form>
                </header>
            </div>
            </div>

            <div class="container card py-3 shadow">
                <table class="table table-bordered">
                    <thead>
                        <% if(orders.length==0){ %>
                            <h1 class="text-center">No orders found</h1>
                            <% } else{%>
                                <tr class="text-center">
                                    <th>
                                        Order ID</th>
                                    <th>
                                        Date of Order</th>
                                    <th>
                                        user name</th>
                                    <th>
                                        Payment Method</th>
                                    <th>
                                        final Price</th>
                                    <th>
                                        Status</th>
                                    <th>
                                        Action</th>
                                </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order=> { %>
                            <tr>
                                <td>

                                    <%= order.orderId.slice(0,18) %>
                                </td>
                                <td>

                                    <%= new Date(order.createdAt).toLocaleString() %>
                                </td>
                                <td>

                                    <%= order.userId.name %>
                                </td>
                                <td>

                                    <%= order.paymentMethod %>
                                </td>
                                <td>

                                    <%= order.finalAmount %>
                                </td>
                                <td>

                                    <select class="form-select shadow-sm form-control"
                                        onchange="updateOrderStatus('<%= order._id %>', this.value)">
                                        <option value="Processing" <%=order.orderStatus==='Processing' ? 'selected' : ''
                                            %>>Processing</option>
                                        <option value="Shipped" <%=order.orderStatus==='Shipped' ? 'selected' : '' %>
                                            >Shipped</option>
                                        <option value="Delivered" <%=order.orderStatus==='Delivered' ? 'selected' : ''
                                            %>>Delivered</option>
                                        <option value="Cancelled" <%=order.orderStatus==='Cancelled' ? 'selected' : ''
                                            %>>Cancelled</option>
                                        <option value="Return Request" <%=order.orderStatus==='Return Request'
                                            ? 'selected' : '' %>>Return Request</option>
                                        <option value="Returned" <%=order.orderStatus==='Returned' ? 'selected' : '' %>
                                            >Returned</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <a href="/admin/orderDetails?orderId=<%= order._id %>"
                                        class="btn btn-info text-white shadow-sm">View</a>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>

                    </tbody>
                </table>
            </div>


            <div class="d-flex justify-content-center my-5">
                <div class="pagination-container ">
                    <% if (currentPage> 1) { %>
                        <a href="?page=<%= currentPage - 1 %>" class="border border-1 rounded-pill  py-1 me-1">&laquo;
                            Previous</a>
                        <% } %>
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <% if (i===currentPage) { %>
                                    <span class="current-page border border-1 rounded-pill py-1 me-1" style="  background-color: black;
                                color: white;">
                                        <%= i %>
                                    </span>
                                    <% } else { %>
                                        <a href="?page=<%= i %>" class="border border-1 rounded-pill py-1 me-1">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <a href="?page=<%= currentPage + 1 %>"
                                                        class="border border-1 rounded-pill py-1 ">Next &raquo;</a>
                                                    <% } %>
                </div>
            </div>




            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



            <script>
                function updateOrderStatus(orderId, newStatus) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You want to change the status of this order?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, change it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.post('/admin/updateOrderStatus', { orderId, newStatus })
                                .then(response => {
                                    if (response.data.success) {
                                        Swal.fire(
                                            'Success',
                                            'Order status updated successfully',
                                            'success'
                                        );
                                    } else {
                                        Swal.fire(
                                            'Error',
                                            response.data.message,
                                            'error'
                                        );
                                    }
                                })
                                .catch(error => {
                                    Swal.fire(
                                        'Error',
                                        'Failed to update order status',
                                        'error'
                                    );
                                    console.error('Error updating order status:', error);
                                });
                        }
                    });
                }

                // function viewOrderDetails(orderId) {
                //     window.location.href = `/orderDetails?orderId=${orderId}`;
                // }
            </script>





            <%- include("../../views/partials/admin/footer") %>