<%- include('../partials/users/userHeader') %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Edit Profile</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/userProfile">User Profile</a>
                        <span>Edit Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container my-5 border p-5 rounded rounded-5 spad shadow-lg">
    <h2 class="pb-3">Edit Details</h2>

    <!-- Display error message if any -->
    <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <div class="alert alert-danger">
            <%= errorMessage %>
        </div>
    <% } %>

    <form action="/editUserProfile/<%= user._id %>" method="POST">
        <div class="row col-lg-12">
            <div class="column col-lg-6">
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="text" name="name" id="name" class="form-control shadow" value="<%= user.name %>" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control shadow" value="<%= user.phone %>" required>
                </div>
            </div>
            <div class="column col-lg-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control shadow" style="cursor: not-allowed;" value="<%= user.email %>" disabled>
                </div>
            </div>
        </div>
        <div class="text-center col-lg-12">
            <button type="submit" class="btn btn-primary mt-3 col-lg-6 shadow">Update Profile</button>
        </div>
    </form>
</div>
<div class="m-5">
    <br>
</div>

<%- include('../partials/users/userFooter') %>
