<%- include('../partials/users/userHeader') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Cart Page</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody> 
                                <% products.forEach(product=> { %>
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic col-lg-4">
                                                <img src="<%= product.productImages[0].replace(/\\/g, '/') %>"
                                                    alt="<%= product.productName %>" class="img-fluid rounded">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>
                                                    <%= product.productName %>
                                                </h6>
                                                <h5>₹<%= product.salePrice %>
                                                </h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input type="text" value="<%= product.quantity %>">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">₹<%= product.totalPrice %>
                                        </td>
                                        <td class="cart__close">
                                            <a href="#" class="remove-from-cart" data-product-id="<%= product._id %>">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div> --> 
                    <div class="cart__total">
                        <h6>Cart total</h6><hr>
                        <ul>
                            <% products.forEach((product,id)=> { %>
                                <li><%= id+1  %> . <%= product.productName %>*<%= product.quantity %> <span>₹<%= product.totalPrice  %></span></li>
                                <% }); %>

                            <hr>
                            <li>Subtotal <span>₹<%= (products.reduce((total, product) => total + product.totalPrice, 0)).toFixed(2) %></span></li>
                            <li>Coupon Applied <span>- ₹ 0</span></li>
                            <li>Delivery Charges <span>₹ 0</span></li><hr>
                            <li>Total <span>₹<%= (products.reduce((total, product) => total + product.totalPrice, 0)).toFixed(2) %></span></li>
                           
                        </ul>
                        <a href="/checkoutPage" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


    <%- include('../partials/users/userFooter') %>