<%- include('../partials/users/userHeader') -%>

    <style>
        .product__item:hover {
            cursor: pointer;
        }
    </style>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">

                        <div class="shop__sidebar__search">
                            <form action="/shoppage" method="GET">
                                <input type="text" name="search" placeholder="Search..." value="<%= searchQuery %>">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>

                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">Floral Fragrances</a></li>
                                                    <li><a href="#">Citrus Scents </a></li>
                                                    <li><a href="#">Woody Aromas </a></li>
                                                    <li><a href="#">Gourmand Fragrances </a></li>
                                                    <li><a href="#">Fresh Scents</a></li>
                                                    <li><a href="#">Aquatic Fragrances </a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Gender</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">Men </a></li>
                                                    <li><a href="#">Women </a></li>
                                                    <li><a href="#">Unisex</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Lancôme</a></li>
                                                    <li><a href="#">Burberry</a></li>
                                                    <li><a href="#">Givenchy</a></li>
                                                    <li><a href="#">Calvin Klein</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">₹0.00 - ₹400.00</a></li>
                                                    <li><a href="#">₹400.00 - ₹800.00</a></li>
                                                    <li><a href="#">₹8000.00 - ₹1200.00</a></li>
                                                    <li><a href="#">₹1200.00 - ₹1800.00</a></li>
                                                    <li><a href="#">₹1800.00 - ₹2300.00</a></li>
                                                    <li><a href="#">2300.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">25ml
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">50ml
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">75ml
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">100ml
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="xxl">150ml
                                                    <input type="radio" id="xxl">
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">

                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing <%= startProduct %>–<%= endProduct %> of <%= totalProductsCount %>
                                                    results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by :</p>
                                    <select>
                                        <option value="">Popularity</option>
                                        <option value="">Price: low to high</option>
                                        <option value="">Price: high to low</option>
                                        <option value="">Average ratings</option>
                                        <option value="">Featured</option>
                                        <option value="">New Arrivals</option>
                                        <option value="">aA - zZ</option>
                                        <option value="">zZ - aA</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>

                    </style>

                    <div class="row">
                        <% products.forEach(product=> { %>
                            <div class="col-lg-4 col-md-6 col-sm-6  ">
                                <div class="product__item border border-3 rounded rounded-3 p-2">
                                    <div class="product__item__pic ">
                                        <img src="<%= product.productImages[0].replace(/\\/g, '/') %>"
                                            alt="<%= product.productName %> "
                                            onclick="window.location.href='/singleProduct?id=<%= product._id %>';">
                                        <ul class="product__hover">
                                            <li>
                                                <a href="#" onclick="toggleWishlist('<%= product._id %>')">
                                                    <img src="img/icon/<%= wishlistProductIds.includes(product._id.toString()) ? 'heartFill.png' : 'heart.png' %>"
                                                        class="rounded rounded-5 " data-product-id="<%= product._id %>"
                                                        alt="wishlist">
                                                </a>
                                            </li>
                                            <li>
                                                <% if (cartProductIds.includes(product._id.toString())) { %>
                                                    <a href="/loadCartPage" >
                                                        <img src="img/icon/inCart.png" class="rounded rounded-5"
                                                            alt="Go to Cart" title="Go to Cart">
                                                    </a>
                                                    <%}else { %>
                                                        <a href="#" onclick="addToCart('<%= product._id %>')" >
                                                            <img src="img/icon/cart.png" class="rounded rounded-5 "
                                                                alt="cart" title="Add to Cart">
                                                        </a>
                                                        <% } %>



                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">

                                        <h5>
                                            <%= product.productName %>
                                        </h5>
                                        <div class="d-block">
                                            <p class="h6 fw-lighter"> Brand : <%= product.brand.brandName %>
                                            </p>
                                            <p class="h6 fw-lighter"> Scent : <%= product.category.name %>
                                            </p>

                                        </div>
                                        <div class="d-flex ">
                                            <h5>₹<%= product.salePrice %>
                                            </h5>
                                            <h5 class="pl-4 text-muted  " style="text-decoration: line-through;">₹<%=
                                                    product.regularPrice %>
                                            </h5>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <% }) %>

                    </div>


                    <div class="pagination-container d-flex justify-content-center">
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>" class="border border-1 rounded-pill  p-2 m-1">&laquo;
                                Previous</a>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <% if (i===currentPage) { %>
                                        <span class="current-page border border-1 rounded-pill p-2 m-1" style="  background-color: black;
                                        color: white;">
                                            <%= i %>
                                        </span>
                                        <% } else { %>
                                            <a href="?page=<%= i %>" class="border border-1 rounded-pill p-2 m-1">
                                                <%= i %>
                                            </a>
                                            <% } %>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <a href="?page=<%= currentPage + 1 %>"
                                                            class="border border-1 rounded-pill p-2 m-1">Next
                                                            &raquo;</a>
                                                        <% } %>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function toggleWishlist(productId) {
            event.preventDefault()
            axios.post('/toggleWishlist', { productId })
                .then(response => {
                    if (response.data.success) {
                        const icon = document.querySelector(`img[data-product-id="${productId}"]`);
                        if (icon) {
                            icon.src = `img/icon/${response.data.data.inWishlist ? 'heartFill.png' : 'heart.png'}`;
                        }
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Could not update wishlist.',
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the wishlist:', error);
                });
        }

        function addToCart(productId) {
            event.preventDefault()
            axios.post('/addProductToCart', { productId })
                .then(response => {
                    if (response.data.success) {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Added!',
                            text: response.data.message,
                            icon: 'success',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                        const cartButton = document.querySelector(`a[onclick="addToCart('${productId}')"]`);
                        if (cartButton) {
                            cartButton.href = '/loadCartPage';
                            const img = cartButton.querySelector('img');
                            img.src = 'img/icon/inCart.png';
                            img.alt = 'Go to Cart';
                            img.title = 'Go to Cart';
                            cartButton.setAttribute('onclick', ''); 
                        }
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Failed to add product to cart', 
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the cart:', error);
                });
        }
    </script>





    <%- include('../partials/users/userFooter') -%>