<%- include('../partials/users/userHeader') -%>

    <style>
        .product__item:hover {
            cursor: pointer;
        }

        .out-of-stock-overlay {
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.75);
        }
    </style>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">

                            <div class="row">
                                <form action="/shoppage" method="GET">
                                    <input type="text" name="search" placeholder="Search..." value="<%= searchQuery %>">
                                    <input type="hidden" name="category" value="<%= categoryFilter %>">
                                    <input type="hidden" name="brand" value="<%= brandFilter %>">
                                    <input type="hidden" name="gender" value="<%= genderFilter %>">
                                    <input type="hidden" name="stock" value="<%= stockFilter %>">
                                    <input type="hidden" name="sort" value="<%= sort %>">
                                    <input type="hidden" name="order" value="<%= order %>">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </form>
                                <div class="shop__sidebar__refresh pt-1 pl-1">
                                    <button type="button" class="btn " onclick="window.location.href='/shoppage'"><i
                                            class="fa fa-refresh cursor-pointer "></i></button>
                                </div>
                            </div>

                        </div>



                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">



                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% categories.forEach(category=> { %>
                                                        <li>
                                                            <a
                                                                href="/shoppage?category=<%= category._id %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>&sort=<%= sort %>&order=<%= order %>">
                                                                <%= category.name %>
                                                            </a>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">



                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% brands.forEach(brand=> { %>
                                                        <li>
                                                            <a
                                                                href="/shoppage?brand=<%= brand._id %>&sort=<%= sort %>&order=<%= order %>&stock=<%= stockFilter %>">
                                                                <%= brand.brandName %>
                                                            </a>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Gender</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">


                                            <div class="shop__sidebar__gender">
                                                <ul class="nice-scroll">
                                                    <li><a
                                                            href="/shoppage?gender=Men&sort=<%= sort %>&order=<%= order %>&stock=<%= stockFilter %>">Men</a>
                                                    </li>
                                                    <li><a
                                                            href="/shoppage?gender=Women&sort=<%= sort %>&order=<%= order %>&stock=<%= stockFilter %>">Women</a>
                                                    </li>
                                                    <li><a
                                                            href="/shoppage?gender=Unisex&sort=<%= sort %>&order=<%= order %>&stock=<%= stockFilter %>">Unisex</a>
                                                    </li>
                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Stock Status</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">


                                            <div class="shop__sidebar__gender">
                                                <ul class="nice-scroll">
                                                    <li>
                                                        <a href="/shoppage?stock=&sort=<%= sort %>&order=<%= order %>"
                                                            class="<%= !stockFilter ? 'active' : '' %>">All Products</a>
                                                    </li>
                                                    <li>
                                                        <a href="/shoppage?stock=Available&sort=<%= sort %>&order=<%= order %>"
                                                            class="<%= stockFilter === 'Available' ? 'active' : '' %>">Available</a>
                                                    </li>
                                                    <li>
                                                        <a href="/shoppage?stock=Out%20of%20Stock&sort=<%= sort %>&order=<%= order %>"
                                                            class="<%= stockFilter === 'Out of Stock' ? 'active' : '' %>">Out
                                                            of Stock</a>
                                                    </li>
                                                    <li>
                                                        <a href="/shoppage?stock=Discontinued&sort=<%= sort %>&order=<%= order %>"
                                                            class="<%= stockFilter === 'Discontinued' ? 'active' : '' %>">Discontinued</a>
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">

                    <div class="shop__product__option">
                        <div class="row">


                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing <%= startProduct %>–<%= endProduct %> of <%= totalProductsCount %>
                                                    results</p>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by :</p>
                                    <select onchange="location = this.value;">
                                        <option
                                            value="/shoppage?sort=createdAt&order=desc&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>"
                                            <%=sort==='createdAt' && order==='desc' ? 'selected' : '' %>>New Arrivals
                                        </option>
                                        <option
                                            value="/shoppage?sort=salePrice&order=asc&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>"
                                            <%=sort==='salePrice' && order==='asc' ? 'selected' : '' %>>Price: low to
                                            high</option>
                                        <option
                                            value="/shoppage?sort=salePrice&order=desc&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>"
                                            <%=sort==='salePrice' && order==='desc' ? 'selected' : '' %>>Price: high to
                                            low</option>
                                        <option
                                            value="/shoppage?sort=productName&order=asc&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>"
                                            <%=sort==='productName' && order==='asc' ? 'selected' : '' %>>aA - zZ
                                        </option>
                                        <option
                                            value="/shoppage?sort=productName&order=desc&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>"
                                            <%=sort==='productName' && order==='desc' ? 'selected' : '' %>>zZ - aA
                                        </option>
                                    </select>
                                </div>
                            </div>



                        </div>
                    </div>

                    <style>

                    </style>

                    <div class="row">
                        <% products.forEach(product=> { %>
                            <div class="col-lg-4 col-md-6 col-sm-6  ">
                                <div class="product__item border border-3 rounded rounded-3 p-2">
                                    <div class="product__item__pic ">
                                        <img src="<%= product.productImages[0].replace(/\\/g, '/') %>"
                                            alt="<%= product.productName %> "
                                            onclick="window.location.href='/singleProduct?id=<%= product._id %>';">

                                        <% if (product.quantity===0) { %>
                                            <div onclick="window.location.href='/singleProduct?id=<%= product._id %>';"
                                                class="out-of-stock-overlay cursor-pointer d-flex align-items-center justify-content-center position-absolute w-100 h-100">
                                                <h4 class="text-danger fw-bold">Out of Stock</h4>
                                            </div>
                                            <% } %>

                                                <ul class="product__hover">
                                                    <li>
                                                        <a href="#" onclick="toggleWishlist('<%= product._id %>')">
                                                            <img src="img/icon/<%= wishlistProductIds.includes(product._id.toString()) ? 'heartFill.png' : 'heart.png' %>"
                                                                class="rounded rounded-5 "
                                                                data-product-id="<%= product._id %>" alt="wishlist">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <% if(product.quantity!==0){ %>
                                                            <% if (cartProductIds.includes(product._id.toString())) { %>
                                                                <a href="/loadCartPage">
                                                                    <img src="img/icon/inCart.png"
                                                                        class="rounded rounded-5" alt="Go to Cart"
                                                                        title="Go to Cart">
                                                                </a>
                                                                <%}else { %>
                                                                    <a href="#"
                                                                        onclick="addToCart('<%= product._id %>')">
                                                                        <img src="img/icon/cart.png"
                                                                            class="rounded rounded-5 " alt="cart"
                                                                            title="Add to Cart">
                                                                    </a>
                                                                    <% } %>
                                                                        <%}else { %>
                                                                            <a onclick="outOfStock()">
                                                                                <img src="img/icon/out-of-stock.png"
                                                                                    class="rounded rounded-5"
                                                                                    alt="out-of-stock"
                                                                                    title="out-of-stock">
                                                                            </a>
                                                                            <% } %>


                                                    </li>
                                                </ul>
                                    </div>
                                    <div class="product__item__text">

                                        <h5>
                                            <%= product.productName %>
                                        </h5>
                                        <div class="d-block">
                                            <p class="h6 fw-lighter"> Brand : <%= product.brand.brandName %>
                                            </p>
                                            <p class="h6 fw-lighter"> Scent : <%= product.category.name %>
                                            </p>

                                        </div>
                                        <div class="d-flex ">
                                            <h5>₹<%= product.salePrice %>
                                            </h5>
                                            <h5 class="pl-4 text-muted  " style="text-decoration: line-through;">₹<%=
                                                    product.regularPrice %>
                                            </h5>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <% }) %>

                    </div>


                    <div class="pagination-container d-flex justify-content-center m-2 ">
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>"
                                class="btn btn-outline-dark rounded-pill my-2 px-3 mx-1">&laquo; Previous</a>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <% if (i===currentPage) { %>
                                        <span class="btn btn-dark rounded-pill my-2 px-3 mx-1">
                                            <%= i %>
                                        </span>
                                        <% } else { %>
                                            <a href="/shoppage?page=<%= i %>&sort=<%= sort %>&order=<%= order %>&category=<%= categoryFilter %>&brand=<%= brandFilter %>&gender=<%= genderFilter %>&stock=<%= stockFilter %>
                                            <%= i === currentPage ? ' class=" active"' : '' %>" class="btn
                                                btn-outline-dark rounded-pill my-2 px-3
                                                mx-1"><%= i %></a>

                                            <% } %>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <a href="?page=<%= currentPage + 1 %>"
                                                            class="btn btn-outline-dark rounded-pill my-2 px-3 mx-1">Next
                                                            &raquo;</a>
                                                        <% } %>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function toggleWishlist(productId) {
            event.preventDefault()
            axios.post('/toggleWishlist', { productId })
                .then(response => {
                    if (response.data.success) {
                        const icon = document.querySelector(`img[data-product-id="${productId}"]`);
                        if (icon) {
                            icon.src = `img/icon/${response.data.data.inWishlist ? 'heartFill.png' : 'heart.png'}`;
                        }
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Could not update wishlist.',
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the wishlist:', error);
                });
        }

        function addToCart(productId) {
            event.preventDefault()
            axios.post('/addProductToCart', { productId })
                .then(response => {
                    if (response.data.success) {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: response.data.message,
                            // text: response.data.message,
                            icon: 'success',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                        const cartButton = document.querySelector(`a[onclick="addToCart('${productId}')"]`);
                        if (cartButton) {
                            cartButton.href = '/loadCartPage';
                            const img = cartButton.querySelector('img');
                            img.src = 'img/icon/inCart.png';
                            img.alt = 'Go to Cart';
                            img.title = 'Go to Cart';
                            cartButton.setAttribute('onclick', '');
                        }
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Failed to add product to cart',
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the cart:', error);
                });
        }

        function outOfStock() {
            Swal.fire({
                toast: true,
                timer: 1100,
                timerProgressBar: true,
                title: 'Out Of Stock',
                // text: 'Failed to add product to cart',
                icon: 'warning',
                position: 'top-end',
                showConfirmButton: false,
                customClass: {
                    popup: 'custom-toast'
                }
            })
        }
    </script>





    <%- include('../partials/users/userFooter') -%>