<%- include('../partials/users/userHeader') -%>

    <style>
        .star-large {
            font-size: 2em;
        }

        .review-count {
            font-size: 1em;
            margin-left: 10px;
            color: #333;
        }

        .zoomContainer {
            position: absolute !important;
            top: 177px !important;
            left: 900px !important;
            border-radius: 10px;
        }

        .pro-qty-2 {
            display: flex;
            align-items: center;
        }

        .qty-btn {
            background-color: #fff;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 5px;
        }

        .qty-btn:focus {
            outline: none;
        }

        input[type="text"] {
            height: 30px;
            width: 50px;
            text-align: center;
            border: 2px solid #000;
            border-radius: 5px;
            margin: 0 2px;
        }
    </style>

    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/shopPage">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <% singleProduct.productImages.forEach((image, index)=> { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= index === 0 ? 'active' : '' %>" data-toggle="tab"
                                        href="#tabs-<%= index+1 %>" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                            data-setbg="<%= image.replace(/\\/g, '/') %>">
                                        </div>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <% singleProduct.productImages.forEach((image, index)=> { %>
                                <div class="tab-pane fade  <%= index === 0 ? 'show active' : '' %>"
                                    id="tabs-<%= index+1 %>" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img id="zoom<%= index %>" src="<%= image.replace(/\\/g, '/') %>" alt="" style="    margin-left: -220px
                                            ;width: 450px; height: 550px; object-fit: cover;"
                                            data-zoom-image="<%= image.replace(/\\/g, '/') %>">
                                    </div>
                                    <div class="zoomContainer">
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="product__details__text">
                            <h4>
                                <%= singleProduct.productName %>
                            </h4>
                            <div class="rating">
                                <% for (let i=0; i < singleProduct.rating; i++) { %>
                                    <i class="fa fa-star" style="color: rgb(255, 179, 0);"></i>
                                    <% } %>
                                        <% for (let i=singleProduct.rating; i < 5; i++) { %>
                                            <i class="fa fa-star-o" style="color: rgb(0, 0, 0);"></i>
                                            <% } %>
                                                <span> - <%= singleProduct.reviews.length %> Reviews</span>
                            </div>
                            <% if (singleProduct.offerPercentage!==0 && singleProduct.variations[0].quantity!==0) { %>
                                <div>
                                    <h4 class="offer-overlay text-success cursor-pointer my-3 ">Extra <%=
                                            singleProduct.offerPercentage %> Offer</h4>
                                </div>
                                <% } %>

                                    <h3>₹<label id="salePrice">
                                            <%= singleProduct.variations[0].salePrice %>
                                        </label>
                                        <span>₹<span id="regularPrice">
                                                <%= singleProduct.variations[0].regularPrice %>
                                            </span></span>

                                    </h3>


                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__description">
                            <p>
                                <%= singleProduct.description %>
                            </p>
                            <% if (singleProduct.variations[0].quantity===0) { %>
                                <h5 class="mb-3 text-danger">
                                    <%= singleProduct.status %>
                                </h5>
                                <% } else if(singleProduct.variations[0].quantity <=10) { %>
                                    <h5 class="mb-3">
                                        <%= singleProduct.status %> ( Only <label id="stock">
                                                <%= singleProduct.variations[0].quantity %>
                                            </label> Items left)
                                    </h5>
                                    <% } else { %>
                                        <h5 class="mb-3">
                                            <%= singleProduct.status %><label id="stock" class="d-none">
                                                    <%= singleProduct.variations[0].quantity %>
                                                </label>
                                        </h5>
                                        <% } %>
                                            <p class="fw-lighter">Gender: <%= singleProduct.gender %>
                                            </p>
                                            <p class="fw-lighter">Brand: <%= singleProduct.brand.brandName %>
                                            </p>
                                            <p class="fw-lighter">Scent : <%= singleProduct.category.name %>
                                            </p>
                                            <br>
                        </div>

                        <script>
                            let selectedVariation = "<%= JSON.stringify(singleProduct.variations[0]) %>"
                            function updateSelectedVariation(variationJson) {
                                selectedVariation = JSON.parse(variationJson);
                                document.getElementById('salePrice').textContent = selectedVariation.salePrice;
                                document.getElementById('regularPrice').textContent = selectedVariation.regularPrice;
                                document.getElementById('stock').textContent = selectedVariation.quantity;
                                document.getElementById('quantity-<%= singleProduct._id %>').value = 1;
                                document.getElementById('variation_id').textContent = selectedVariation._id;
                            }

                            document.addEventListener('DOMContentLoaded', () => {
                                const defaultInput = document.querySelector('.product__details__option__size input[checked]');
                                if (defaultInput) {
                                    defaultInput.parentElement.classList.add('active');
                                }
                            });
                        </script>

                        <div class="product__details__option">
                            <div class="product__details__option__size">
                                <span>Sizes: </span>
                                <% singleProduct.variations.forEach((variation, index)=> { %>
                                    <label for="size-<%= index %>" class="<%= index === 0 ? 'active' : '' %>">
                                        <%= variation.size %>
                                            <input type="radio" id="size-<%= index %>" name="size"
                                                value="<%= variation.size %>"
                                                onclick="updateSelectedVariation('<%= JSON.stringify(variation) %>'); handleSizeSelection(this);"
                                                <%=index===0 ? 'checked' : '' %> >
                                    </label>
                                    <% }) %>
                            </div>
                            <p id="variation_id" class="d-none"></p>
                        </div>





                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty-2">
                                    <button type="button" class="qty-btn"
                                        onclick="decrementQuantity('<%= singleProduct._id %>')">-</button>
                                    <input type="text" value=<%=productQuantityInCart===0 ? 1 : productQuantityInCart %>
                                    min="1" id="quantity-<%= singleProduct._id %>" max="10"
                                        id="quantity-<%= singleProduct._id %>" <% if (singleProduct.quantity===0) { %>
                                                disabled <% } %> readonly>
                                                    <button type="button" class="qty-btn"
                                                        onclick="incrementQuantity('<%= singleProduct._id %>')">+</button>
                                </div>
                            </div>

                            <button type="button" class="primary-btn rounded"
                                onclick="addToCart('<%= singleProduct._id %>')" <% if
                                (singleProduct.variations[0].quantity===0) { %>
                                disabled style="background-color: grey ; cursor: not-allowed;" <% } %> >
                                    Add to Cart
                            </button>
                        </div>

                        <div class="product__details__cart__option">
                            <% if (singleProduct.quantity===0) { %>
                                <span class="primary-btn bg-danger text-light border border-5 fw-bolder rounded"
                                    style="cursor: not-allowed;">
                                    Out of Stock
                                </span>
                                <% } else { %>
                                    <a href="/loadCartPage"
                                        class="primary-btn bg-success text-dark border border-5 fw-bolder rounded">
                                        Buy it Now
                                    </a>
                                    <% } %>
                        </div>

                        <div class="product__details__btns__option">
                            <button type="button"
                                class="primary-btn text-dark bg-warning border border-5 fw-bolder rounded"
                                onclick="addToWishlist('<%= singleProduct._id %>')">
                                <i class="fa fa-heart text-danger"></i>wishlist
                                <!-- <%= wishlistProductIds.includes(singleProduct._id.toString()) ? 'Add to wishlist'
                                    : 'Remove From wishlist' %> -->
                                <!-- the problem is everything is working properly but the text is not changing when togggling -->

                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Reviews (<%=
                                            singleProduct.reviews.length %>)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5" role="tab">Shipping &
                                        Return</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                        Previews(2)</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">

                                        <div class="product__details__tab__content__item">
                                            <h5>Return Policy</h5>
                                            <p> You may return any unopened merchandise in its original condition,
                                                including original sealed packaging within 30 days of invoice date and
                                                you will receive a full refund, less shipping and gift-wrapping charges.

                                                Due to health reasons, we do not offer refunds on cosmetics, hair care
                                                and skincare items. Please make your selections carefully.

                                                All online orders must be shipped back to our warehouse. We do not
                                                accept online returns in stores.
                                                You should expect to receive your refund within 2-3 weeks of giving your
                                                package to the return shipper, however, in many cases you will receive a
                                                refund more quickly. You will be notified via email when your refund has
                                                been processed.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Shipping</h5>
                                            <p>We currently only ship within the United States.
                                                Orders over $59 (after discounts have been applied and excluding taxes)
                                                ship FREE. Orders of $59 or less (after discounts have been applied and
                                                excluding taxes) will incur a standard shipping charge of just $7.50.
                                                HI, AK add $7.50.
                                                Standard shipping typically takes about 3-5 business days to arrive.
                                                To facilitate the timely processing of your order, we are unable to
                                                cancel or make any changes to orders once they are placed.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">

                                        <!-- Total Rating Display -->
                                        <div class="main-rating mb-5">
                                            <p class="note">Total Ratings</p>
                                            <div class="rating">
                                                <% for (let i=0; i < singleProduct.rating; i++) { %>
                                                    <i class="fa fa-star star-large"
                                                        style="color: rgb(255, 179, 0);"></i>
                                                    <% } %>
                                                        <% for (let i=singleProduct.rating; i < 5; i++) { %>
                                                            <i class="fa fa-star-o star-large"></i>
                                                            <% } %>
                                                                <span class="review-count">(<%=
                                                                        singleProduct.reviews.length %> Reviews)</span>
                                            </div>
                                        </div>


                                        <!-- Reviews Section -->
                                        <p class="note">All Reviews</p>
                                        <% if (singleProduct.reviews.length> 0) { %>
                                            <% singleProduct.reviews.forEach(review=> { %>
                                                <div class="product__details__tab__content__item "
                                                    style="padding-left: 20px;">
                                                    <hr class="flex-grow-1">
                                                    <h6>
                                                        <%= new Date(review.createdAt).toLocaleDateString() %>
                                                    </h6>
                                                    <h5>
                                                        <%= review.user.name %>
                                                    </h5>
                                                    <p>
                                                        <%= review.comment %>
                                                    </p>
                                                    <div class="rating">
                                                        <% for (let i=0; i < review.rating; i++) { %>
                                                            <i class="fa fa-star" style="color: rgb(255, 179, 0);"></i>
                                                            <% } %>
                                                                <% for (let i=review.rating; i < 5; i++) { %>
                                                                    <i class="fa fa-star-o"></i>
                                                                    <% } %>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <% } else { %>
                                                        <p>No reviews yet.</p>
                                                        <% } %>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>

            <div class="row">
                <%for (let i=0; i < 4 && i < relatedProducts.length; i++) { const product=relatedProducts[i]; %>
                    <div class="col-lg-3 col-md-3 col-sm-3  ">
                        <div class="product__item border border-3 rounded rounded-3 p-2">
                            <div class="product__item__pic ">
                                <img src="<%= product.productImages[0].replace(/\\/g, '/') %>"
                                    alt="<%= product.productName %> "
                                    onclick="window.location.href='/singleProduct?id=<%= product._id %>';">

                                <% if (product.variations[0].quantity===0) { %>
                                    <div onclick="window.location.href='/singleProduct?id=<%= product._id %>';"
                                        class="out-of-stock-overlay cursor-pointer d-flex align-items-center justify-content-center position-absolute w-100 h-100">
                                        <h4 class="text-danger fw-bold">Out of Stock</h4>
                                    </div>
                                    <% } %>

                                        <ul class="product__hover">
                                            <li>
                                                <a href="#" onclick="toggleWishlist('<%= product._id %>')">
                                                    <img src="img/icon/<%= wishlistProductIds.includes(product._id.toString()) ? 'heartFill.png' : 'heart.png' %>"
                                                        class="rounded rounded-5 " data-product-id="<%= product._id %>"
                                                        alt="wishlist">
                                                </a>
                                            </li>
                                            <li>
                                                <% if(product.variations[0].quantity!==0){ %>
                                                    <% if (cartProductIds.includes(product._id.toString())) { %>
                                                        <a href="/loadCartPage">
                                                            <img src="img/icon/inCart.png" class="rounded rounded-5"
                                                                alt="Go to Cart" title="Go to Cart">
                                                        </a>
                                                        <%}else { %>
                                                            <a href="#" onclick="addToCart('<%= product._id %>')">
                                                                <img src="img/icon/cart.png" class="rounded rounded-5 "
                                                                    alt="cart" title="Add to Cart">
                                                            </a>
                                                            <% } %>
                                                                <%}else { %>
                                                                    <a onclick="outOfStock()">
                                                                        <img src="img/icon/out-of-stock.png"
                                                                            class="rounded rounded-5" alt="out-of-stock"
                                                                            title="out-of-stock">
                                                                    </a>
                                                                    <% } %>


                                            </li>
                                        </ul>
                            </div>
                            <div class="product__item__text">

                                <h5>
                                    <%= product.productName %>
                                </h5>
                                <div class="d-block">
                                    <p class="h6 fw-lighter"> Brand : <%= product.brand.brandName %>
                                    </p>
                                    <p class="h6 fw-lighter"> Scent : <%= product.category.name %>
                                    </p>

                                </div>
                                <div class="d-flex ">
                                    <h5>₹<%= product.variations[0].salePrice %>
                                    </h5>
                                    <h5 class="pl-4 text-muted  " style="text-decoration: line-through;">₹<%=
                                            product.variations[0].regularPrice %>
                                    </h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    <% } %>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>


        function incrementQuantity(productId) {
            const quantityInput = document.getElementById('quantity-' + productId);
            const stockQuantity = document.getElementById('stock').textContent
            let currentQuantity = parseInt(quantityInput.value);
            if (currentQuantity < stockQuantity && currentQuantity < 10) {
                quantityInput.value = currentQuantity + 1;
                Swal.fire({
                    toast: true,
                    timer: 1000,
                    timerProgressBar: true,
                    title: 'Product quantity increased',
                    icon: 'success',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
            }
            if (currentQuantity == stockQuantity) {
                Swal.fire({
                    toast: true,
                    timer: 1500,
                    timerProgressBar: true,
                    title: 'You reached the stock limit',
                    icon: 'warning',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
            } else if (currentQuantity === 10) {
                Swal.fire({
                    toast: true,
                    timer: 1500,
                    timerProgressBar: true,
                    title: 'You reached the maximum buying limit',
                    icon: 'warning',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
            }
        }

        function decrementQuantity(productId) {
            const quantityInput = document.getElementById('quantity-' + productId);
            let currentQuantity = parseInt(quantityInput.value);
            if (currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
                Swal.fire({
                    toast: true,
                    timer: 1000,
                    timerProgressBar: true,
                    title: 'Product quantity decreased',
                    icon: 'success',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
            }
            if (currentQuantity === 1) {
                Swal.fire({
                    toast: true,
                    timer: 1500,
                    timerProgressBar: true,
                    title: 'You reached the  minimum buying limit',
                    icon: 'warning',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
            }
        }

        function addToCart(productId) {
            event.preventDefault()

            const inputField = document.getElementById(`quantity-${productId}`);
            const variation_id = document.getElementById('variation_id').textContent;
            console.log(variation_id);
            const quantity = parseInt(inputField.value);

            if (quantity < 1) {
                inputField.value = 1;

                Swal.fire({
                    toast: true,
                    timer: 1500,
                    timerProgressBar: true,
                    title: 'Invalid Quantity!',
                    text: 'Quantity cannot be less than 1.',
                    icon: 'error',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
                return;
            }
            if (quantity > 10) {
                inputField.value = 10;

                Swal.fire({
                    toast: true,
                    timer: 1500,
                    timerProgressBar: true,
                    title: 'Invalid Quantity!',
                    text: 'Quantity cannot be greater than 10.',
                    icon: 'error',
                    position: 'top-end',
                    showConfirmButton: false,
                    customClass: {
                        popup: 'custom-toast'
                    }
                });
                return;
            }
            axios.post('/addProductToCart', { productId, quantity, variation_id })
                .then(response => {
                    if (response.data.success) {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Added!',
                            text: response.data.message,
                            icon: 'success',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Please check if you are logged in or not ',
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the cart:', error);
                });
        }

        function addToWishlist(productId) {
            event.preventDefault()
            axios.post('/toggleWishlist', { productId })
                .then(response => {
                    if (response.data.success) {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: response.data.data.inWishlist ? 'Added' : 'Removed',
                            text: response.data.message,
                            icon: response.data.data.inWishlist ? 'success' : 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    } else {
                        Swal.fire({
                            toast: true,
                            timer: 800,
                            timerProgressBar: true,
                            title: 'Failed!',
                            text: 'Failed to add product to wishlist',
                            icon: 'error',
                            position: 'top-end',
                            showConfirmButton: false,
                            customClass: {
                                popup: 'custom-toast'
                            }
                        })
                    }
                })
                .catch(error => {
                    console.error('There was an error adding the product to the wishlist:', error);
                });
        }

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
    <!-- <script src="../../public/user-assets/js/elevateZoom.js"></script> -->
    <script>
        $(document).ready(function () {
            "<% singleProduct.productImages.forEach(function (image, index) { %>"
            $('#zoom<%= index %>').elevateZoom({
                zoomType: "lens",
                lensShape: "square",
                lensSize: 2000,
                scrollZoom: true,
                zoomActivation: "hover",
                containLensZoom: true,
                responsive: true,
            });
            "<% }); %>"
        });
    </script>




    <%- include('../partials/users/userFooter') -%>